name: go_cloud_run

on:
  workflow_call:
    inputs:
      application-name:
        required: true
        type: string


env:
  IMAGE_NAME: europe-north1-docker.pkg.dev/sitsitsit-dev/sss/${{ inputs.application-name }}
  IMAGE_TAG: ${{ github.event_name == 'push' && github.sha || format('pr-{0}', github.event.pull_request.number) }}

jobs:
  test-build:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    defaults:
      run:
        working-directory: ./${{ inputs.application-name }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.26'

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Test
        run: |
          make ensure
          make test

      - name: Build
        run: |
          make build-linux-amd64

      - name: Authenticate to GCP
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: access_token
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.DEPLOY_SERVICE_ACCOUNT }}

      - name: Build and push image
        run: |
          gcloud auth configure-docker europe-north1-docker.pkg.dev
          docker image build -t ${IMAGE_NAME}:${IMAGE_TAG} --build-arg APPLICATION_FILE_PATH=bin/linux -f ../docker/go_release.Dockerfile .
          docker image push ${IMAGE_NAME}:${IMAGE_TAG}

  deploy-pr:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.actor != 'renovate[bot]'
    permissions:
      contents: 'read'
      id-token: 'write'
    needs: test-build
    environment:
      name: PR-${{ github.event.pull_request.number }}-${{ inputs.application-name }}
      url: ${{ steps.deploy_review.outputs.url }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Authenticate to GCP
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: access_token
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.DEPLOY_SERVICE_ACCOUNT }}

      - name: Deploy review
        id: deploy_review
        uses: google-github-actions/deploy-cloudrun@2028e2d7d30a78c6910e0632e48dd561b064884d # v3.0.1
        with:
          service: ${{ inputs.application-name }}
          image: ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          tag: ${{env.IMAGE_TAG}}
          region: europe-north1
          no_traffic: true
          env_vars: |
            JWT_SECRET_KEY=testsecret

  deploy-prod:
    runs-on: ubuntu-latest
    needs: test-build
    if: github.event_name == 'push'
    permissions:
      contents: 'read'
      id-token: 'write'
    environment:
      name: Production-${{ inputs.application-name }}
      url: ${{ steps.deploy_prod.outputs.url }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Authenticate to GCP
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: access_token
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.DEPLOY_SERVICE_ACCOUNT }}

      - name: Deploy production
        id: deploy_prod
        uses: google-github-actions/deploy-cloudrun@2028e2d7d30a78c6910e0632e48dd561b064884d # v3.0.1
        with:
          service: ${{ inputs.application-name }}
          image: ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          region: europe-north1
          suffix: ${{env.IMAGE_TAG}}
          revision_traffic: LATEST=100
          env_vars: |
            JWT_SECRET_KEY=${{ secrets.DEV_JWT_SECRET_KEY }}
